.banner {
	background-image: linear-gradient(-225deg, rgba(191 31 31 / 80%) 0%, rgba(54 41 41 / 80%) 50%) ,url("../../images/mask.jpg");
	color: #c34040;
	padding: 90px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1 {
	font-size: 50px;
}
.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8px;
	margin-bottom: 40px;
}